body {
  --uno: bg-neutral-100 text-neutral;
}

h1 {
  --uno: 'font-bold md:text-center text-44/52.8 text-neutral lg:text-64/76.8 max-w-680';

  & + p {
    --uno: 'mt-24 md:text-center text-neutral-700 text-20/30 lg:text-22/33 max-w-526 font-semibold';
  }
}

h2 {
  --uno: 'font-bold md:text-center text-32/41.6 text-neutral lg:text-36/43.2 xl:text-40/48';
  & + p {
    --uno: 'font-semibold mt-16 md:text-center text-neutral-700 text-20/30 lg:text-22/33 max-w-844';
  }
}

section {
  --px: 32px;
  @screen md {
    --px: 64px;
  }
  @screen xl {
    --px: 72px;
  }
  @screen 2xl {
    --px: 136px;
  }
  padding-right: var(--px);
  padding-left: var(--px);

  --uno: '*:mx-auto *:max-w-screen-2xl';
  --uno: 'flex flex-col items-center justify-center text-neutral';

  &.white {
    --uno: 'bg-white';
  }

  &.grey {
    --uno: 'bg-neutral-100';
  }

  &.darkblue {
    --uno: 'bg-darkblue text-white';
  }

  &.sgap-24 {
    --uno: 'pt-16 lg:pt-24';
  }

  &.sgap-96 {
    --uno: 'pt-72 lg:pt-96';
  }

  /* Apply pt-200 only to elements that don't have a previous sibling with pt-200 */
  &.nq-block-200 {
    --uno: 'pt-160 lg:pt-200';
    --uno: 'mt-160 lg:mt-200';

    & + .nq-block-200 {
      --uno: 'pt-24';
    }

    & + .nq-block-200 {
      --uno: 'mt-0';
    }
  }

  &.pb-200:not(.nq-block-200 ~ &) {
    --uno: 'pb-160 lg:pb-200';
    &.dark {
      --uno: 'mb-160 lg:mb-200';
    }
  }
}
