header.dark:has(+ main > section:first-child:where(.bg-blue-sss)) {
  nav li .trigger {
    color: rgb(var(--nq-white) / 0.8);

    &:hover,
    &:focus-visible {
      color: rgb(var(--nq-white) / 1);
    }
  }
}

:where(section, [data-section]).bg-blue-sss {
  --nq-blue: var(--nq-blue-on-light);

  color: rgb(var(--nq-white) / 0.8);

  [nq-label] {
    color: rgb(var(--nq-white) / 0.7);
  }

  &:not(:where(.nq-overlaps, [nq-overlaps])) {
    :is(
      &:where(.bg-darkblue, [bg-darkblue]):has(
          + :where(section, [data-section]):not(:where(.nq-section-gap, [nq-section-gap])):where(
              .bg-darkblue,
              [bg-darkblue]
            )
        ),
      &:where(.bg-darkerblue, [bg-darkerblue]):has(
          + :where(section, [data-section]):not(:where(.nq-section-gap, [nq-section-gap])):where(
              .bg-darkerblue,
              [bg-darkerblue]
            )
        ),
      &:where(.bg-neutral-100, [bg-neutral-100]):has(
          + :where(section, [data-section]):not(:where(.nq-section-gap, [nq-section-gap])):where(
              .bg-neutral-100,
              [bg-neutral-100]
            )
        ),
      &:where(.bg-neutral-0, [bg-neutral-0]):has(
          + :where(section, [data-section]):not(:where(.nq-section-gap, [nq-section-gap])):where(
              .bg-neutral-0,
              [bg-neutral-0]
            )
        ),
      &:where(.bg-blue-sss, [bg-blue-sss]):has(
          + :where(section, [data-section]):not(:where(.nq-section-gap, [nq-section-gap])):where(
              .bg-blue-sss,
              [bg-blue-sss]
            )
        )
    ) {
      --pb: 36px;

      @media screen and (min-width: 1024px) {
        --pb: 48px;
      }

      + :where(section, [data-section]) {
        --pt: 36px;

        @media screen and (min-width: 1024px) {
          --pt: 48px;
        }
      }
    }

    &:where(.bg-darkblue, [bg-darkblue], .bg-darkerblue, [bg-darkerblue], .bg-blue-sss, [bg-blue-sss]):has(
        + :where(section, [data-section]):where(
            .bg-neutral-100,
            .bg-neutral-0,
            [bg-neutral-100],
            [bg-neutral-0],
            .nq-section-gap,
            [nq-section-gap]
          )
      ),
    &:where(.bg-neutral-0, [bg-neutral-0], .bg-neutral-100, [bg-neutral-100]):has(
        + :where(section, [data-section]):where(
            .bg-darkblue,
            [bg-darkblue],
            .bg-darkerblue,
            [bg-darkerblue],
            .bg-blue-sss,
            [bg-blue-sss],
            .nq-section-gap,
            [nq-section-gap]
          )
      ),
    &:where(.bg-neutral-0, [bg-neutral-0]):has(
        + :where(section, [data-section]):where(
            .bg-neutral-100,
            [bg-neutral-100],
            .bg-darkblue,
            [bg-darkblue],
            .bg-darkerblue,
            [bg-darkerblue],
            .bg-blue-sss,
            [bg-blue-sss],
            .nq-section-gap,
            [nq-section-gap]
          )
      ),
    &:where(
        .bg-darkblue,
        [bg-darkblue],
        .bg-neutral-100,
        [bg-neutral-100],
        .bg-darkerblue,
        [bg-darkerblue],
        .bg-blue-sss,
        [bg-blue-sss]
      ):has(+ :where(section, [data-section]):where(.bg-neutral-0, [bg-neutral-0], .nq-section-gap, [nq-section-gap])),
    &:where(.bg-neutral-100, [bg-neutral-100]):has(
        + :where(section, [data-section]):where(
            .bg-darkblue,
            [bg-darkblue],
            .bg-neutral-0,
            [bg-neutral-0],
            .bg-darkerblue,
            [bg-darkerblue],
            .bg-blue-sss,
            [bg-blue-sss],
            .nq-section-gap,
            [nq-section-gap]
          )
      ),
    &:where(
        .bg-neutral-0,
        [bg-neutral-0],
        .bg-darkblue,
        [bg-darkblue],
        .bg-darkerblue,
        [bg-darkerblue],
        .bg-blue-sss,
        [bg-blue-sss]
      ):has(
        + :where(section, [data-section]):where(.bg-neutral-100, [bg-neutral-100], .nq-section-gap, [nq-section-gap])
      ) {
      --pb: 160px;

      @media screen and (min-width: 1024px) {
        --pb: 200px;
      }
    }
  }
}
