name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  ci:
    runs-on: ubuntu-latest
    environment: preview
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile
        env:
          PRISMIC_ACCESS_TOKEN: ${{ secrets.PRISMIC_ACCESS_TOKEN }}

      - name: Lint
        run: pnpm run lint
        env:
          PRISMIC_ACCESS_TOKEN: ${{ secrets.PRISMIC_ACCESS_TOKEN }}

      - name: Typecheck
        run: pnpm run typecheck
        env:
          # Secret variables
          NUXT_ALBATROSS_NODE_RPC_URL: ${{ secrets.NUXT_ALBATROSS_NODE_RPC_URL }}
          NUXT_PUBLIC_CRYPTO_MAP_SUPABASE_KEY: ${{ secrets.NUXT_PUBLIC_CRYPTO_MAP_SUPABASE_KEY }}
          NUXT_ZOHO_CLIENT_ID: ${{ secrets.NUXT_ZOHO_CLIENT_ID }}
          NUXT_ZOHO_CLIENT_SECRET: ${{ secrets.NUXT_ZOHO_CLIENT_SECRET }}
          NUXT_ZOHO_CODE: ${{ secrets.NUXT_ZOHO_CODE }}
          NUXT_ZOHO_LISTKEY: ${{ secrets.NUXT_ZOHO_LISTKEY }}
          NUXT_ZOHO_REFRESH_TOKEN: ${{ secrets.NUXT_ZOHO_REFRESH_TOKEN }}
          PRISMIC_ACCESS_TOKEN: ${{ secrets.PRISMIC_ACCESS_TOKEN }}

          # Variables
          NUXT_HUB_ENV: ${{ vars.NUXT_HUB_ENV }}
          NUXT_HUB_PROJECT_KEY: ${{ vars.NUXT_HUB_PROJECT_KEY }}
          NUXT_PUBLIC_CRYPTO_MAP_SUPABASE_URL: ${{ vars.NUXT_PUBLIC_CRYPTO_MAP_SUPABASE_URL }}
          NUXT_PUBLIC_VALIDATORS_API: ${{ vars.NUXT_PUBLIC_VALIDATORS_API }}
          NUXT_SITE_ENV: production
          NUXT_ZOHO_REQUEST_URL: ${{ vars.NUXT_ZOHO_REQUEST_URL }}
          NUXT_ZOHO_SCOPE: ${{ vars.NUXT_ZOHO_SCOPE }}

      - name: Generate
        run: pnpm run generate
        env:
          # Secret variables
          NUXT_ALBATROSS_NODE_RPC_URL: ${{ secrets.NUXT_ALBATROSS_NODE_RPC_URL }}
          NUXT_PUBLIC_CRYPTO_MAP_SUPABASE_KEY: ${{ secrets.NUXT_PUBLIC_CRYPTO_MAP_SUPABASE_KEY }}
          NUXT_ZOHO_CLIENT_ID: ${{ secrets.NUXT_ZOHO_CLIENT_ID }}
          NUXT_ZOHO_CLIENT_SECRET: ${{ secrets.NUXT_ZOHO_CLIENT_SECRET }}
          NUXT_ZOHO_CODE: ${{ secrets.NUXT_ZOHO_CODE }}
          NUXT_ZOHO_LISTKEY: ${{ secrets.NUXT_ZOHO_LISTKEY }}
          NUXT_ZOHO_REFRESH_TOKEN: ${{ secrets.NUXT_ZOHO_REFRESH_TOKEN }}
          PRISMIC_ACCESS_TOKEN: ${{ secrets.PRISMIC_ACCESS_TOKEN }}

          # Variables
          NUXT_HUB_ENV: ${{ vars.NUXT_HUB_ENV }}
          NUXT_HUB_PROJECT_KEY: ${{ vars.NUXT_HUB_PROJECT_KEY }}
          NUXT_PUBLIC_CRYPTO_MAP_SUPABASE_URL: ${{ vars.NUXT_PUBLIC_CRYPTO_MAP_SUPABASE_URL }}
          NUXT_PUBLIC_VALIDATORS_API: ${{ vars.NUXT_PUBLIC_VALIDATORS_API }}
          NUXT_SITE_ENV: production
          NUXT_ZOHO_REQUEST_URL: ${{ vars.NUXT_ZOHO_REQUEST_URL }}
          NUXT_ZOHO_SCOPE: ${{ vars.NUXT_ZOHO_SCOPE }}
